@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  font-family: "Roboto", serif;
  font-weight: 400;
}
.container {
  margin: 20px 50px;
}
section {
  padding: 80px 20px;
  line-height: 2rem;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  font-size: 26px;
}

li {
  list-style: none;
}

.carousel,
.tab,
.accordion {
  margin-top: 40px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.4);
}

.googs_items {
  margin-top: 40px;
}

form {
  width: 450px;
  margin: 40px auto 0 auto;
}

button {
  width: 200px;
  height: 45px;
  margin-right: 10px;
  padding: 0 10px;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.2);
  vertical-align: middle;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(15, 249, 234, 0.2);
}

footer {
  margin-top: 40px;
  height: 80px;
  background-color: #000;
}

.card {
  /* background-color: rgba(178, 247, 242, 0.2); */
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.4);
  margin: 0.5rem 0;
  padding: 1rem;
  border-radius: 1rem;
  width: 50%;
}

.text {
  font-weight: 500;
  
}
